<nav class="bg-secondary">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="/"
      class="nav-link text-white">Főoldal</a>
    </li>
    @if(!loggedIn) {
      <li class="nav-item">
        <a routerLink="/login"
        class="nav-link text-white">Belépés</a>
      </li>
    }@else {
      <li class="nav-item">
        <a routerLink="/logout"
        class="nav-link text-white">Kilepés</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products"
        class="nav-link text-white">Termékek</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about"
        class="nav-link text-white">Névjegy</a>
      </li>
    }
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>