<h1>teStoreBe</h1>
<p>A teStoreBe egy raktári nyilvántartó kezdemény, tesztelésre szánva</p>
<p>
  A megoldás Angularban készült Guard és Emitter használatával.
</p>
<p>Jelenleg a következő API-t használja:</p>
<p>
  <a href="https://fakestoreapi.com/products">
    https://fakestoreapi.com/products
  </a>
</p>
<h2>Belépési adatok</h2>
<p>
  Felhasználónév: admin<br>
  Jelszó: titok
</p>

<h1>GitHub</h1>

<p>
  <a href="https://github.com/andteki/testorebeang">
    https://github.com/andteki/testorebeang
  </a>
</p>
